{% extends('layouts/auth_default') %}

{% block title %}{{ category_lang }}の練習問題{% endblock %}

{% block content %}

<h4>
問題番号{{ question_number }}
<br><br>
{% if true_or_false == true %}
<div class="correct">正解です！</div>
{% else %}
<div class="wrong">不正解です。。</div>
{% endif %}
<hr>
問題文
<br><br>
　{{ sub_category_lang }}
<br><br>
　{{ question.question }}
<br><br>
1. {{ question.option_1 }}
<br>
2. {{ question.option_2 }}
<br>
3. {{ question.option_3 }}
<br>
4. {{ question.option_4 }}

<br><br>
正解 => {{ question_answer }}
<hr>
解説
<br>
<pre>{{ question.explanation }}</pre>

{% if last_question_flag == false %}
<form method="post" action="/questions/next">
{{ csrf_field() }}
{% if user %}

<div class="cp_ipcheck">
<p><input type="checkbox" name="favorite_flag" value="1" id="b_ch1"><label for="b_ch1">この問題をお気に入りに登録する場合、チェック</label></p>
</div>
<input type="hidden" name="question_id" value="{{ question.id }}">
<br><br>
{% endif %}
<input type="hidden" name="question_bundle_id" value="{{ question_bundle_id }}">
<p><input type="submit" value="次の問題へ" class="btn btn-info"></p>
</form>

{% elseif last_question_flag == true %}
<form method="post" action="/questions/result">
{{ csrf_field() }}
{% if user %}

<div class="cp_ipcheck">
<p><input type="checkbox" name="favorite_flag" value="1" id="b_ch1"><label for="b_ch1">この問題をお気に入りに登録する場合、チェック</label></p>
</div>
<input type="hidden" name="question_id" value="{{ question.id }}">
<br><br>
{% endif %}
<input type="hidden" name="question_bundle_id" value="{{ question_bundle_id }}">
<p><input type="submit" value="総合評価" class="btn btn-info btn-color-exam"></p>
{% endif %}

</h4>
{% endblock %}

