{% if true_or_false == true %}
正解です！
{% else %}
不正解です。。
{% endif %}

<br><br>
解説
<br>
{{ question.explanation  }}

<br><br>
この問題をノートに登録する
<br><br>

{% if last_question_flag == false  %}
<form method="post" action="/questions/next">
{{ csrf_field() }}
<input type="hidden" name="created_at" value="{{ created_at }}">
<p><input type="submit" value="次の問題へ"></p>
</form>
{% else %}
<form method="post" action="/questions/result">
{{ csrf_field() }}
<input type="hidden" name="created_at" value="{{ created_at }}">
<p><input type="submit" value="総合評価"></p>
{% endif %}
